<div class="col-sm-3">
    <div class="well">
        <ul class="nav nav-list">
            <li class="navbar-header">Usuários</li><br />
            <li>
                <a href="#">Listar</a>
            </li>
            <li>
                <a href="#">Cadastrar</a>
            </li>
            <li class="navbar-header">Notícias</li><br />
            <li>
                <a href="#">Reportagem</a>
            </li>
            <li>
                <a href="#">Listar Fotos</a>
            </li>
        </ul>
    </div>
</div>